.wd-global {
    margin-left: 16px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* A class */

.wd-search-borders {
    border-top: rgb(47, 51, 54) solid 2px;
    border-left: rgb(47, 51, 54) solid 2px;
    border-right: rgb(47, 51, 54) solid 2px;
}

.wd-searchbar {
    margin-left: 16px;
    color: white;
    background-color: #3b3b3b;
    border-radius: 50px;
    border: none;
    margin-top: 5px;
    padding: 7px;
    width: 80%;
}

.wd-settings {
    float: right;
    margin-right: 12px;
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

/* B class */

.wd-hyperlink-boarders {
    border-bottom: rgb(47, 51, 54) solid 2px;
    border-left: rgb(47, 51, 54) solid 2px;
    border-right: rgb(47, 51, 54) solid 2px;
    padding: 16px;
}

.wd-hyperlink {
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
    width: 15%;
    text-decoration: none;
}

.wd-hyperlink-first {
    color: rgb(29, 161, 242);
    border-bottom-style: solid;
    border-bottom-color: rgb(29, 161, 242);
}
